# General
.idea/
.env
*.log
.DS_Store

# Frontend build artifacts
node_modules/
frontend/node_modules/
frontend/dist/
build/

# Backend build artifacts
backend/target/
target/

# Terraform ignores (keep secrets out of git)
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Exclude documentation or instruction files that don't need to be in EC2
architecture.md
*instructions.md

# SSH Keys
*.pem
