aws_region                       = "us-east-1"
project_name                     = "opsboard"
vpc_cidr                         = "10.0.0.0/16"
public_subnet_cidrs              = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidrs             = ["10.0.10.0/24", "10.0.11.0/24"]
allowed_ssh_cidr                 = "0.0.0.0/0"
jenkins_controller_instance_type = "t3.medium"
jenkins_agent_instance_type      = "t3.large"
eks_node_instance_type           = "t3.medium"
key_pair_name                    = "opsboard-ssh-key" # Make sure to create this key pair in your AWS account before running terraform

# IMPORTANT PHASE REQUIREMENT
# Set to false to provision only CI infrastructure (Phase 1)
# Set to true to enable EKS cluster later (Phase 2)
create_eks                       = false
